.menu-navbar{
    display: flex;
    text-align: center;
}
.menu-navbar .main-title{
    font-size: 80px;
    letter-spacing: 25px;
    font-family: 'Mynerve', cursive;
    color: #6a5acd;
    text-decoration: underline;
    transition: 1s;
}
.menu-navbar .main-title:hover{
    color: #b793e6;
    font-size: 100px;
}

.NavbarBtn a{
    color: yellow;
}
.NavbarBtn a:hover{
    color: white;
}


.hover-btn{
    font-size: 20px;
    font-family: 'Mynerve', cursive;
}
.hover-btn a{
    color: #b793e6;
    transition: all 2s;
}
.hover-btn a:hover{
    margin-inline-start: 10px;
    color: turquoise;
}
.mainLogo img{
    width: auto;
    height: 500px;
}
.cardPlum{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {}
    50%  {background-color:white; left:100px; top:150px;}
    75%  {background-color:white; left:0px; top:200px;}
    100% {background-color:white; left:0px; top:0px;}
  }

.cardYellow{
    position: relative;
    animation-name: cardYellow;
    animation-duration: 4s;  
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes cardYellow {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {}
    50%  {background-color:white; left:0px; top:150px;}
    75%  {}
    100% {background-color:white; left:0px; top:0px;}
  }

.firstLine{
    color: green;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    padding: 6px;
    position: relative;
    animation: zoom-in-zoom-out 6s ease infinite;
    /* animation-duration: 4s;
    animation-iteration-count: infinite; */
}
.firstLine a {
    color: green;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.secondLine{
    color: #6a5acd;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    padding: 6px;
    position: relative;
    animation-name: secondLine;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.secondLine a{
    color: #6a5acd;
}
@keyframes secondLine {
    0%   {left:0px; top:0px;}
    25%  {top:0px;}
    50%  {top:150px;}
    75%  {left:0px; top:150px;}
    100% {left:0px; top:0px;}
  }

.thirdLine{
    color:red ;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    padding: 6px;
    font-size: 17px;
    position: relative;
    animation-name: thirdLine;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.thirdLine a{
    color: red;
}
@keyframes thirdLine {
    0%   {left:0px; top:0px;}
    25%  {top:0px;}
    50%  {top:-100px;}
    75%  {left:0px; top:-100px;}
    100% {left:0px; top:0px;}
  } 

#thirdSection{
    width: auto;
    background: #0D1117;
}

.darkModeYellow{
    margin-top: 100px;
    position: relative;
    animation-name: darkModeYellow;
    animation-duration: 4s;  
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes darkModeYellow {
    0%   { left:0px; top:0px;}
    25%  {}
    50%  {left:0px; top:150px;}
    75%  {}
    100% { left:0px; top:0px;}
  }

.darkModePlum{
    margin-top: 150px;
    position: relative;
    animation-name: darkModePlum;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes darkModePlum {
    0%   {left:0px; top:0px;}
    25%  {}
    50%  {left:39px; top:150px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }
