

.navbar a img {
    width: 100%;
    height: 70px;
}



.list{
    display: flex;
    justify-content: center;
    text-align: center;
}

.planner{
    display: flex;
    justify-content: center;
    text-align: center;
}

.list a img{
    width: auto;
    height: 200px;
    background-color: gray;
}

.notes a img{
    width: auto;
    height: 200px;
    background-color: gray;
}

.planner a img{
    width: auto;
    height: 200px;
    background-color: gray;
}

.time a img{
    width: auto;
    height: 200px;
    background-color: gray;
}
